/* css reset */
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body stuff */
body{
    padding: 1.5rem .5rem;
}

/* main background */
#main{
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

/* title and desc */
header {
    width: 40%;
    margin: 2rem auto;
}
#title {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    letter-spacing: 5px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
#description {
    color: rgb(77, 77, 77);
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: .4px;
}

/* figure and caption */
#image {
    width: 100%;
    max-width: 100%;
    min-width: none;
    height: auto;
    display: block;
    margin: auto;
    border: 3px solid black;
}
#img-div {
    display: block;
    margin: 2rem auto;
    width: 95%;
    padding: 2rem .8rem .5rem .8rem;
    background-color: white;
}
#img-caption {
    text-align: center;
    margin: .5rem auto auto auto;
    margin-top: .5rem;
    color: rgb(43, 43, 43);
    font-size: 16.8px;
    letter-spacing: .4px;
    width: 80%;
}

/* events timeline */
#tribute-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#tribute-info h2 {
    margin: 1.7rem auto;
    font-size: 1.7rem;
}

#events-area {
    width: min(60%, 600px);
    
    margin: 1rem auto;
}

ul li, ul p {
    margin-bottom: .5rem;
    font-size: 1rem;
}

ul li {
    font-size: 1.1rem;
}
#end-line {
    text-align: center;
    margin: 1rem auto;
    width: 100%;
    font-size: 1.5rem;
}



/* extra specifications */
ul p::before {
    content: '- ';
}
.bold {
    font-weight: 600;
}
.divider {
    width: 100%;
    height: 1.5rem;
    margin: auto;
}
